summaries/figs/Thumbs.db
summaries/Thumbs.db
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# beamer
*.nav
*.snm
*.vrb


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
